body {
    cursor: url("../assets/cursor/yugicursor.png"), default;
}

button, 
a, 
img, 
button:hover, 
a:hover {
    cursor: url("../assets/cursor/yamiyugicursorGLOW.png"), auto;
}

.bg-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bg-video .video {
    height: 100vh;
}

.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.8) 50%,rgba(0, 0, 0, 1) 100%);
}

.container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: 100vh;
}

.container_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    height: 35vh;
}

.score_box {
    background-color: #fff;
    padding: 0.2rem;
}

#score_points {
    font-size: 0.8rem;
}

.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

.card_details {
    background-color: #fff;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-image {
    width: 6rem;
}

#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 0.8rem;
}

.card-box_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

.card-versus_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    height: 300px;
}

.versus-top, 
.versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-bottom {
    margin-top: 1rem;
}

#next-duel {
    display: none;
}

.card-box {
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}

.card-box img {
    height: 5rem;
}

.card-infield {
    height: 9rem;
    width: clamp(8rem, 16vw, 12rem);
    border: 1px solid #ffffffa9;
    border-radius: 8px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.2);
}

.millenium-img {
    width: clamp(4rem, 6vw, 8rem);
    height: clamp(4rem, 10vh, 12rem);
}

#player-field-card {
    width: 100%;
    height: 100%;
}

#computer-field-card {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    .container {
        flex-direction: row;
    }
    .container_left {
        width: 35%;
        height: auto;
        min-width: 300px;
    }
    .container_right {
        width: 65%;
    }
    .score_box {
        padding: 2rem;
    }
    .card_details {
        padding: 1rem;
        height: 6rem;
        width: 100%;
    }
    .card-versus_container {
        justify-content: left;
    }
    .card-infield {
        height: 14rem;
    }
    #card-image {
        width: 12rem;
    }
    .card-box img {
        height: 6rem;
    }
}